@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root{
  --main-color: #FCFFA6;
  --main-color-hover: #F2F74F;
  --main-color-active: #faff76;
  --secondary-color: #B2B0EB;
  --secondary-color-hover: #A4A2E0;
  --color-secondary: #585858;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}

.transition {
  transform: translateX(-100vw);
}

.transition-back {
  transform: translateX(100vw);
  display: none;
}

.app {
  display: grid;
  grid-auto-columns: auto;
  align-content: center;
}

/* SingIn */

.mail-sign-container {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  width: 50%;
  min-width: 250px;
  max-width: 300px;
  justify-content: center;
  margin: 1em auto;
  row-gap: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2em;
  border-radius: 5px;
  transition: all 1s ease;
}

.mail-img {
  display: flex;
  justify-content: center;
}

.mail-img > img {
  width: 20%;
}

.mail-form > form {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1 1fr);
  row-gap: 1em;
}

.mail-form > form > input {
  padding: 5px 10px;
  border-radius: 5px;
  outline-color: rgba(0, 0, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.mail-form > form > button {
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* Logged */

.delete-mail {
  justify-self: start;
  width: 10%;
  color: rgb(75, 75, 75);
}

.delete-mail:hover {
  color: red;
}

.mails-logged {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 60%;
  transition: all 1s ease;
}

.mail-logged {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  border: 1px solid black;
  margin: auto 10px;
  justify-items: center;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.mail-logged .mail-img {
  margin: 0 0 10px 0;
}

.mail-logged:hover {
  background-color: rgba(158, 158, 158, 0.2);
}

/* Main page */

.main-page {
  top: 0;
  height: 100%;
  transition: 1s ease;
}

/* Header */

.main-page header {
  width: 100vw;
}

.nav-header ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--main-color);
  align-items: center;
}

.go-back i {
  font-size: 2em;
  cursor: pointer;
}

.profile img {
  width: 30px;
}

/* Main container */

.main-container {
  display: grid;
  height: calc(100% - 55px);
  grid-template-columns: minmax(100px, 10%) calc(100% - 100px);
  width: 100%;
  column-gap: 0;
  justify-content: flex-start;
}

/* Side */

.nav-side {
  background-color: var(--main-color);
}

.nav-side ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.nav-side ul li {
  padding: 15px;
  cursor: pointer;
}

.nav-side ul li:hover{
  background-color: var(--main-color-hover);
}

.active {
  background-color: var(--main-color-active);
}

/* Main */

.main-wrapper {
  padding: 10px;
  display: grid;
  grid-auto-rows: min-content;
  row-gap: 10px;
}

  /* Mail card */

.mail-card {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.mail-card:hover {
  background-color: var(--secondary-color-hover);
}

.mail-card .from {
  font-size: .7em;
  color: var(--color-secondary);
}