<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mail</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static',
    filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Login -->
    <div class="mail-sign-container">
      <div class="mail-img">
        <img
          src="{{ url_for('static', filename='/assets/user-placeholder.png') }}"
          alt=""
        />
      </div>
      <div class="mail-form">
        <form action="">
          <input
            type="email"
            name=""
            placeholder="example@gmail.com"
            value="pythontestwithale@gmail.com"
            required
            autocomplete="on"
          />
          <input
            type="password"
            name=""
            placeholder="********"
            value="Python3WithAle"
            required
            autocomplete="on"
          />
          <button class="signIn">Agregar</button>
        </form>
      </div>
    </div>

    <!-- Sessions -->

    <div class="mails-logged"></div>

    <!-- Logged Session -->

    <div class="main-page transition-back">
      <header>
        <nav class="nav-header">
          <ul>
            <li class="go-back">
              <i class="fas fa-arrow-circle-left"></i>
            </li>
            <li class="profile">
              <img
                src="{{ url_for('static', filename='/assets/user-placeholder.png') }}"
                alt=""
              />
            </li>
          </ul>
        </nav>
      </header>

      <div class="main-container">
        <nav class="nav-side">
          <ul>
            <li class="active">Todos</li>
            <li>Enviados</li>
            <li>Agenda</li>
            <li>Enviar Correo</li>
          </ul>
        </nav>

        <main class="main-wrapper">
          <div class="mail-card">
            <span class="header"> Titulo </span>
            <span class="body"> ejemplo@gmail.com </span>
          </div>

          <div class="mail-card">
            <span class="header"> Titulo </span>
            <span class="body"> ejemplo@gmail.com </span>
          </div>

          <div class="mail-card">
            <span class="header"> Titulo </span>
            <span class="body"> ejemplo@gmail.com </span>
          </div>

          <div class="mail-card">
            <span class="header"> Titulo </span>
            <span class="body"> ejemplo@gmail.com </span>
          </div>
        </main>
      </div>
    </div>
  </body>
  <script>
    let user;
    $(() => {
      fetchData();

      $(".mail-form>form").on("submit", function (e) {
        e.preventDefault();
        user = {
          mail: $("input[type='email']").val(),
          password: $("input[type='password']").val(),
        };
        //TODO - Call python script to check if mail/pass is correct
        validateMail();
        // createUserCard(user);
      });

      function fetchData() {
        $.get("/fetch_mails", (res) => {
          if (res.status === 200) {
            const mails = String(res.mails).split(",");
            mails.forEach(mail => {
              const user = {
                mail: mail
              }
              createUserCard(user);
            })
          }
        });
      }

      function validateMail() {
        $.post(
          "/login",
          {
            mail: user.mail,
            password: user.password,
          },
          (res) => {
            switch (res.status) {
              case 204:
                createUserCard(user);
                clearMailForm();
                break;
              case 409:
                alert("Mail ya logueado");
                break;
              case 500:
                alert("Usuario o contraseña incorrcta");
                break;
            }
          }
        );
      }

      function createUserCard(user) {
        const loggedMailContainer = $("<div/>", {
          class: "mail-logged",
          click: () => signIn(loggedMailContainer),
        });

        const deleteMailIcon = $("<i/>", {
          class: "fas fa-minus-circle delete-mail",
          click: () => removeMail(loggedMailContainer),
        });

        const mailImgCont = $("<div/>", {
          class: "mail-img",
          html: $("<img/>", {
            src: "{{ url_for('static', filename='/assets/user-placeholder.png') }}",
          }),
        });

        const mailName = $("<div/>", {
          class: "mail-name",
          html: $("<p/>", {
            text: user.mail,
          }),
        });

        loggedMailContainer.append(deleteMailIcon);
        loggedMailContainer.append(mailImgCont);
        loggedMailContainer.append(mailName);

        $(".mails-logged").append(loggedMailContainer);
      }

      function clearMailForm() {
        $("input[type='email']").val("vertederodepruebas@gmail.com");
        $("input[type='password']").val("1a2s3d4f.");
      }

      function removeMail(obj) {
        const mail = obj.children(".mail-name").children("p").html();
        $.post("/delete_mail", {
          mail: mail,
        });

        obj.remove();
      }

      function signIn(obj) {
        $(".mail-sign-container")
          .addClass("transition")
          .delay(500)
          .queue(function (next) {
            $(this).css({ display: "none" });
            next();
          });
        $(".mails-logged")
          .addClass("transition")
          .delay(500)
          .queue(function (next) {
            $(this).css({ display: "none" });
            next();
          });

        $(".main-page")
          .css({ display: "block" })
          .delay(500)
          .queue(function (next) {
            $(this).css({ transform: "translateX(0)" });
            next();
          });
        const mail = obj.children(".mail-name").children("p").html();
        console.log(mail);
      }

      $(".go-back").on("click", () => {
        $(".main-page")
          .css({ transform: "translateX(100vw)" })
          .delay(1000)
          .queue(function (next) {
            $(this).addClass("transition-back").css({ display: "none" });

            $(".mail-sign-container")
              .css({ display: "" })
              .delay(10)
              .queue(function (next) {
                $(this).removeClass("transition");
                next();
              });

            $(".mails-logged")
              .css({ display: "" })
              .delay(10)
              .queue(function (next) {
                $(this).removeClass("transition");
                next();
              });
            next();
          });
      });

      $(".nav-side>ul>li").on("click", function () {
        $(".nav-side>ul>li").removeClass("active");
        $(this).addClass("active");
      });

      $(".mail-card").on("click", () => {
        $.ajax({
          type: "GET",
          url: "/get_mail",
          dataType: "html",
          success: function (msg) {
            console.log(msg);
          },
          error: function (xhr, status, error) {
            console.log(error);
          },
        });
      });
    });
  </script>
</html>
