<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mail</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static',
    filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Login -->
    <div class="mail-sign-container">
      <div class="mail-img">
        <img
          src="{{ url_for('static', filename='/assets/user-placeholder.png') }}"
          alt=""
        />
      </div>
      <div class="mail-form">
        <form action="">
          <input
            type="email"
            name=""
            placeholder="example@gmail.com"
            value=""
            required
            autocomplete="on"
          />
          <input
            type="password"
            name=""
            placeholder="********"
            value=""
            required
            autocomplete="on"
          />
          <button class="signIn">Agregar</button>
        </form>
      </div>
    </div>

    <!-- Sessions -->

    <div class="mails-logged"></div>

    <!-- Logged Session -->

    <div class="main-page transition-back">
      <header>
        <nav class="nav-header">
          <ul>
            <li class="go-back">
              <i class="fas fa-arrow-circle-left"></i>
            </li>
            <li>
              <span id="mail">example@example.com</span>
            </li>
            <li class="profile">
              <img
                src="{{ url_for('static', filename='/assets/user-placeholder.png') }}"
                alt=""
              />
            </li>
          </ul>
        </nav>
      </header>

      <div class="main-container">
        <!-- Sidebar -->
        <nav class="nav-side">
          <ul>
            <li>Todos</li>
            <li>Enviados</li>
            <li>Agenda</li>
            <li>Enviar Correo</li>
          </ul>
        </nav>

        <!-- Show mails -->
        <main class="main-wrapper"></main>
      </div>
    </div>

    <div class="modal">
      <div class="modal-container">
        <div class="modal-title"></div>
        <div class="modal-body"></div>
      </div>
    </div>
    <div class="modal-loading"></div>
  </body>
  <script>
    let user;
    $(() => {
      fetchData();

      $(".nav-side>ul>li").on("click", function () {
        $(".nav-side>ul>li").removeClass("active");
        $(this).addClass("active");
        const mail = $("#mail").html();
        $(".main-wrapper").removeClass("agenda");
        $(".main-wrapper").html("");
        switch ($(this).index()) {
          case 0:
            loadInbox(mail, "INBOX");
            break;
          case 1:
            loadInbox(mail, "[Gmail]/Enviados");
            break;
          case 2:
            loadAgenda();
            break;
          case 3:
            sentMailUi();
            break;
          default:
            break;
        }
      });

      $(".mail-form>form").on("submit", function (e) {
        e.preventDefault();
        user = {
          mail: $("input[type='email']").val(),
          password: $("input[type='password']").val(),
        };
        validateMail();
      });

      function fetchData() {
        $.get("/fetch_mails", (res) => {
          if (res.status === 200) {
            const mails = String(res.mails).split(",");
            mails.forEach((mail) => {
              const user = {
                mail: mail,
              };
              createUserCard(user);
            });
          }
        });
      }

      function validateMail() {
        $.post(
          "/login",
          {
            mail: user.mail,
            password: user.password,
          },
          (res) => {
            switch (res.status) {
              case 204:
                createUserCard(user);
                clearMailForm();
                break;
              case 409:
                alert("Mail ya logueado");
                break;
              case 500:
                alert("Usuario o contraseña incorrcta");
                break;
            }
          }
        );
      }

      function createUserCard(user) {
        const loggedMailContainer = $("<div/>", {
          class: "mail-logged",
          click: () => signIn(loggedMailContainer),
        });

        const deleteMailIcon = $("<i/>", {
          class: "fas fa-minus-circle delete-mail",
          click: () => removeMail(loggedMailContainer),
        });

        const mailImgCont = $("<div/>", {
          class: "mail-img",
          html: $("<img/>", {
            src: "{{ url_for('static', filename='/assets/user-placeholder.png') }}",
          }),
        });

        const mailName = $("<div/>", {
          class: "mail-name",
          html: $("<p/>", {
            text: user.mail,
          }),
        });

        loggedMailContainer.append(deleteMailIcon);
        loggedMailContainer.append(mailImgCont);
        loggedMailContainer.append(mailName);

        $(".mails-logged").append(loggedMailContainer);
      }

      function clearMailForm() {
        $("input[type='email']").val("");
        $("input[type='password']").val("");
      }

      function removeMail(obj) {
        const mail = obj.children(".mail-name").children("p").html();
        $.post("/delete_mail", {
          mail: mail,
        });

        obj.remove();
      }

      function signIn(obj) {
        $(".nav-side>ul>li").removeClass("active");
        $(".nav-side>ul>li:first-child").addClass("active");
        const mail = obj.children(".mail-name").children("p").html();
        $("#mail").html(mail);
        loadInbox(mail, "INBOX");
      }

      $(".go-back").on("click", () => {
        $(".main-page")
          .css({ transform: "translateX(100vw)" })
          .delay(1000)
          .queue(function (next) {
            $(this).addClass("transition-back").css({ display: "none" });

            $(".mail-sign-container")
              .css({ display: "" })
              .delay(10)
              .queue(function (next) {
                $(this).removeClass("transition");
                next();
              });

            $(".mails-logged")
              .css({ display: "" })
              .delay(10)
              .queue(function (next) {
                $(this).removeClass("transition");
                next();
              });
            next();
          });
      });

      let mails = [];
      function loadInbox(mail, folder) {
        mails = [];
        $(".main-wrapper").html("");
        $.post("/get_inbox", { mail, folder }, (res) => {
          if (res.status === 200) {
            for (
              let index = Object.keys(res.mails).length-1;
              index >= 0;
              index--
            ) {
              if (!res.mails[index].payload.includes("<!DOCTYPE")) {
                mails.push(res.mails[index]);
                createMailCard(res.mails[index].from, res.mails[index].subject);
              }
            }
            console.log(mails);
          }
        }).done(() => {
          loadMailUi();
        });
      }

      $(document).on({
        ajaxStart: function () {
          $("body").addClass("loading");
        },
        ajaxStop: function () {
          $("body").removeClass("loading");
        },
      });

      function loadMailUi() {
        $(".mail-sign-container")
          .addClass("transition")
          .delay(500)
          .queue(function (next) {
            $(this).css({ display: "none" });
            next();
          });
        $(".mails-logged")
          .addClass("transition")
          .delay(500)
          .queue(function (next) {
            $(this).css({ display: "none" });
            next();
          });

        $(".main-page")
          .css({ display: "block" })
          .delay(500)
          .queue(function (next) {
            $(this).css({ transform: "translateX(0)" });
            next();
          });
      }

      function createMailCard(from, subject) {
        const mainWrapper = $(".main-wrapper");
        const mailCard = $("<div/>", {
          class: "mail-card",
          click: () => openMail(mailCard),
        });
        const headerTxt = $("<span/>", {
          class: "from",
          html: from,
        });
        const subjectTxt = $("<span/>", {
          class: "subject",
          html: subject,
        });
        mailCard.append(headerTxt);
        mailCard.append(subjectTxt);

        mainWrapper.append(mailCard);
      }

      $(".modal").on("click", (event) => {
        if (!$(event.target).closest(".modal-container").length) {
          closeModal();
        }
      });

      function openMail(mailCard) {
        $(".modal-title").html(mails[mailCard.index()].subject);
        $(".modal-body").html(mails[mailCard.index()].payload);
        $(".modal").css({
          display: "flex",
        });
      }

      function loadAgenda() {
        const mainWrapper = $(".main-wrapper");
        mainWrapper.addClass("agenda");

        const btnAddContact = $("<div/>", {
          text: "Agregar nuevo contacto",
          class: "add-new-contact",
          click: () => addContactUi(),
        });

        mainWrapper.append(btnAddContact);
        fetchContacts();
      }

      function addContactUi() {
        $(".modal-title").html("Agregar Contactos");
        $(".modal-body").html("");
        const form = $("<form/>", {
          class: "add-new-contact-form",
          submit: () => addContact(event),
        });
        const input = $("<input/>", {
          placeholder: "ejemplo@gmail.com",
          id: "addContactMail",
        });
        const button = $("<button/>", {
          text: "Agregar",
        });

        form.append(input);
        form.append(button);

        $(".modal-body").append(form);

        $(".modal").css({
          display: "flex",
        });
      }

      function addContact(e) {
        e.preventDefault();
        const contact = $("#addContactMail").val();
        $.post("/add_contact", { mail: user.mail, contact }, (res) => {
          switch (res.status) {
            case 204:
              closeModal();
              fetchContacts();
              break;
            case 404:
              alert("Contacto ya agregado");
              break;
            default:
              break;
          }
        });
      }

      function fetchContacts() {
        $.post("/fetch_contacts", { mail: user.mail }, (res) => {
          switch (res.status) {
            case 200:
              const mainWrapper = $(".main-wrapper");
              mainWrapper.html("");
              const btnAddContact = $("<div/>", {
                text: "Agregar nuevo contacto",
                class: "add-new-contact",
                click: () => addContactUi(),
              });

              mainWrapper.append(btnAddContact);
              const contacts = String(res.contacts).split(",");
              contacts.forEach((contact) => {
                const agendaCard = $("<div/>", {
                  class: "agenda-card",
                });

                const agendaMail = $("<span/>", {
                  html: contact,
                });

                const agendaImg = $("<img/>", {
                  src: "{{ url_for('static', filename='/assets/user-placeholder.png') }}",
                  class: "agenda-img",
                });
                agendaCard.append(agendaImg);
                agendaCard.append(agendaMail);

                mainWrapper.append(agendaCard);
              });
          }
        });
      }

      function sentMailUi() {
        const mainWrapper = $(".main-wrapper");
        mainWrapper.html("");

        const form = $("<form/>", {
          class: "send-mail-form",
          submit: () => sendMail(event),
        });
        const labelTo = $("<label/>", {
          for: "mailTo",
          text: "To:",
        });

        const toContainer = $("<div/>", {
          class: "to-input-container",
        });

        const inputTo = $("<input/>", {
          placeholder: "ejemplo@gmail.com",
          id: "mailTo",
        });

        const selectContactIcon = $("<i/>", {
          class: "fas fa-address-book select-contact-icon",
          click: () => selectContact(),
        });

        toContainer.append(inputTo);
        toContainer.append(selectContactIcon);

        const labelSubject = $("<label/>", {
          for: "mailSubject",
          text: "Subject:",
        });
        const inputSubject = $("<input/>", {
          placeholder: "",
          id: "mailSubject",
        });

        const labelBody = $("<label/>", {
          for: "mailBody",
          text: "Mensaje:",
        });
        const inputBody = $("<textarea/>", {
          id: "mailBody",
        });

        const button = $("<button/>", {
          text: "Enviar",
        });

        form.append(labelTo);
        form.append(toContainer);

        form.append(labelSubject);
        form.append(inputSubject);

        form.append(labelBody);
        form.append(inputBody);

        form.append(button);
        mainWrapper.append(form);
      }

      function sendMail(e) {
        e.preventDefault();
        if ($("#mailTo").val() === "") {
          $("#mailTo").addClass("input-error");
          $("#mailTo").focus();
        } else {
          $("#mailTo").removeClass("input-error");
          const mail = {
            to: $("#mailTo").val(),
            subject: $("#mailSubject").val(),
            body: $("#mailBody").val(),
          };
          $.post(
            "/send_mail",
            {
              from: user.mail,
              to: mail.to,
              subject: mail.subject,
              body: mail.body,
            },
            (res) => {
              switch (res.status) {
                case 204:
                  alert("Correo enviado correctamente");
                  $("#mailTo").val("");
                  $("#mailSubject").val("");
                  $("#mailBody").val("");
                  break;
              }
            }
          );
        }
      }

      function selectContact() {
        $.post("/fetch_contacts", { mail: user.mail }, (res) => {
          switch (res.status) {
            case 200:
              $(".modal-title").html("Contactos");
              const contacts = String(res.contacts).split(",");
              $(".modal-body").html("");
              contacts.forEach((contact) => {
                const contactCard = $("<div/>", {
                  class: "agenda-card contact-card",
                  text: contact,
                  click: () => clickContact(contact),
                });
                $(".modal-body").append(contactCard);
              });
              $(".modal").css({
                display: "flex",
              });
              break;
            case 404:
              $(".modal-title").html("Contactos");
              $(".modal-body").html("No tienes contactos");
              $(".modal").css({
                display: "flex",
              });
              break;
            default:
              break;
          }
        });
      }

      function clickContact(contact) {
        $("#mailTo").val(contact);
        closeModal();
      }

      function closeModal() {
        $(".modal").css({
          display: "none",
        });
      }
    });
  </script>
</html>
